.cta {
	clear: both;
	text-align: center;
	padding: 40px 0;
	margin: 0 auto;

	.description {
		text-transform: uppercase;
		margin: 25px auto;
		@include font-size(14px, 22px);
		letter-spacing: .2em;
		width: 75%;
		text-align: center;
	}
}

// soot
.theme-soot .cta {
	.button {
		border-color: $white;
		color: $white;
		&:hover {
			background: $white;
			color: $soot;
		}
	}
	.description {
		color: $white;
	}
	
}

// white
.theme-white .cta {
	.button {
		border-color: $soot;
		color: $soot;
		&:hover {
			background: $soot;
			color: $white;
		}
	}
	.description {
		color: $soot;
	}
}