.social-feed {
	padding: 100px 0;
	.quote,
	p {
		color: $celeste;
		text-align: center;
		font-family: "Arvo", serif;
		font-size: 26px;
	}
	p {
		
	}
	a {
		color: $white;
		&.social-icon {
			color: $celeste;
			display: block;
			font-size: 48px;
			margin: 10px auto;
			&:hover {
				text-decoration: none;
			}
		}
	}
}